extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" , alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac sagittis enim. Duis congue neque id quam elementum pretium. Aliquam hendrerit justo a elit volutpat dictum. Fusce convallis elit et urna volutpat consectetur. Aliquam arcu leo, auctor non mi vel, lacinia consequat quam. 

                p Ut mattis tortor vitae aliquet eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam fermentum ornare mi quis aliquet. Nullam fringilla augue eget convallis aliquet. Donec felis massa, tempus ac lacinia in, fringilla ut nisi. Vivamus quis massa a nibh rhoncus pretium. Curabitur a est nisl.

                p Ut ac lacinia justo. Nam vehicula metus vitae arcu ornare, at pretium ligula ultricies. Curabitur felis dolor, accumsan fringilla velit vitae, vulputate venenatis turpis. Curabitur et nibh at tortor malesuada suscipit. Ut quis risus quam. Nullam vitae augue sit amet libero viverra dictum a vel nibh. Morbi nulla risus, rutrum et cursus nec, consectetur non sem. Ut hendrerit faucibus diam sed dignissim. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" , alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nullam fringilla augue eget convallis aliquet. Donec felis massa, tempus ac lacinia in, fringilla ut nisi. Vivamus quis massa a nibh rhoncus pretium. Curabitur a est nisl.
                .col-md-4
                    img(src="img/icono_destinos.svg" , alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Nullam fringilla augue eget convallis aliquet. Donec felis massa, tempus ac lacinia in, fringilla ut nisi. Vivamus quis massa a nibh rhoncus pretium. Curabitur a est nisl.
                .col-md-4
                    img(src="img/icono_precios.svg" , alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Nullam fringilla augue eget convallis aliquet. Donec felis massa, tempus ac lacinia in, fringilla ut nisi. Vivamus quis massa a nibh rhoncus pretium. Curabitur a est nisl.